-#%h1 Listing translations
-#
-#%table
-#  %tr
-#    %th
-#    %th
-#    %th
-#    %th
-#    %th
-#
-#  -@translations.each do |translation|
-#    %tr
-#      %td= translation.raw
-#      %td= translation.content
-#      %td!= link_to 'Show', translation
-#      %td!= link_to 'Edit', edit_translation_path(translation)
-#      %td!= link_to 'Destroy', translation, :confirm => 'Are you sure?', :method => :delete
-#
-#!=paginate @translations, :remote => true
-#
-#%br/
-#!= link_to 'New Translation', new_translation_path

=render :partial => 'locales/translation', :collection => @translations
