%h1=t('.background_jobs')
%table
  %tr
    %th id
    %th priority 
    %th attempts
    %th project
    %th filename
    %th last_error
    %th run_at
    -# %th locked_at
    -# %th failed_at
    -# %th locked_by
    %th created_at
    -# %th updated_at
  -@jobs.each do |job|
    %tr
      %td=job.id
      %td=job.priority
      %td=job.attempts
      %td=job.handler.payload_object.object.title
      -file = File.basename(job.handler.payload_object.args.first[:filename])
      %td=link_to file, "/#{file}"
      %td=job.last_error.split('\n').first if job.last_error
      %td=job.run_at
      -# %td=job.locked_at
      -# %td=job.failed_at
      -# %td=job.locked_by
      %td=job.created_at
      -# %td=job.updated_at
