body {
  background: #4B7399 url(../images/ghostwriter_logo.png) no-repeat 10px 4px;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 85px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#footnotes_debug {
    background-color: pink;
    padding-bottom: 5px;
}



.search {
    text-align: center;
}

.search input {
    width: 50%
}

ul {
    padding: 0;
}

li {
    margin: 0 0 10px 0;
    padding: 4px 6px 6px;
    list-style: none;
    background-color: #eee;
}


.translation .content {
    padding: 25px 0 0 0;
}

.translation .content,
.translation .content input {
    font-size: 23px;
    font-family: verdana, arial, helvetica, sans-serif;
}

.token {
    float: left;
}

.tags {
    float: right;
}

input {
    border: 1px solid #ccc;
}

.content input {
    width: 100%;
}

.hidden {
    display: none;
}

.edit {
    margin: 0 0 0 4px;
}

ul.locales {
    margin: 0;
    padding: 0;
}

ul.locales li {
    display: inline;
    padding: 6px 12px;
}

ul.locales li form {
    display:inline;
}


.search {
    padding: 20px 0 0 0;
}

.inactive {
    color: #aaa;
}

ul.nav li {
    display: inline;
} 

.right {
    text-align: right;
}

td.title {
    font-size: 23px;
    padding: 10px 20px 10px 0px;
}

