%h1
  =@project.title
  &mdash;
  =@project.locales.count
  =t('.locale_count')
  &mdash;
  =@project.tokens.count
  =t('.token_count')

=link_to t(:edit), edit_resource_path(@project)

%h2=t('.locales')

=form_for @project do |pf|
  =pf.fields_for :locales, @project.locales.build do |lf|
    %label=t('.add_locale')
    -options = @project.remaining_locales.sort_by &:last
    =lf.collection_select :code, options, :first, :last, :include_blank => t(:prompt)
  =pf.submit

%ul
  -@project.locales.each do |locale|
    -unless locale.new_record?
      %li=link_to locale.title, project_locale_path(@project, locale)

%h2=t('.export')
%ul
  %li=link_to t('.export_csv'), project_path(@project, :format => 'csv')
  %li=link_to t('.export_yaml'), project_path(@project, :format => 'yaml')
  %li
    =form_for @project do |pf|
      =hidden_field_tag 'project[save_static]', '1'
      =pf.submit t('.save_static'), :confirm => t('are_you_sure')
      =t('save_static_info', :time => @project.static_file_time)

%h2=t('.snapshots')
%table
  %tr
    %th=t '.filename'
    %th=t '.filesize'
    %th=t '.created_at'
  -@project.snapshots.each do |snapshot|
    -if snapshot.new_record?
      %tr
        %td{ :colspan => 3 }
          =form_for snapshot do |df|
            =df.hidden_field :attachable_type
            =df.hidden_field :attachable_id
            =df.submit t('.create_snapshot')
    -else
      %tr
        %td=link_to snapshot.attachment_file_name, '/system/snapshots/' + snapshot.attachment_file_name
        %td=number_to_human_size(snapshot.attachment_file_size)
        %td=l snapshot.created_at, :format => :short

%h2=t('.reset')
=form_for @project do |pf|
  =hidden_field_tag 'project[reset_counters]', '1'
  =pf.submit t('.reset_counters'), :confirm => t('are_you_sure')
  =t('reset_counters_warning')
=form_for @project do |pf|
  =hidden_field_tag 'project[reset_translations]', '1'
  =pf.submit t('.reset_translations'), :confirm => t('are_you_sure')
  =t('reset_translations_warning')

-@lastlog_count = 5
%h2=t('.lastlog', :count => @lastlog_count)
%ul
  -@project.tokens.includes(:translations).where('translations.active' => true).order('translations.updated_at DESC').limit(@lastlog_count).each do |token|
    %li
      =token.full_key
      %ul
        -token.translations.each do |translation|
          %li
            =l(translation.updated_at, :format => :short)
            ==#{translation.code}:
            %b== "#{translation.content}"

%h2=t('.users')
%ul
  -@project.users.each do |user|
    %li=user.email
  %li
    =form_for @project do |pf|
      =pf.text_field :new_user_email
      =pf.submit t('.add_user')

%h2=t('.api_key')
%ul
  %li=@project.api_key
  -url = api_translations_url(@project.api_key, :yml)
  %li=link_to url, url
  -url = api_translations_url(@project.api_key, :json)
  %li=link_to url, url
