!!! 5

%html
  %head
    %title GhostWriter
    =stylesheet_link_tag :application
    =routing_based_stylesheets
    =csrf_meta_tag
    %meta{'charset' => 'utf-8'}/
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

  %body
    #container
      = render 'layouts/nav'
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      = yield

    =javascript_include_tag :application
    =routing_based_javascripts
    -#=content_for :scripts
